# spell-checker:enableCompoundWords
# spell-checker:ignore autohide pymdownx pygments
site_name: Proxmoxer Documentation
site_description: "Documentation for the Proxmoxer Python library"

repo_name: proxmoxer/proxmoxer
repo_url: https://github.com/proxmoxer/proxmoxer/
edit_uri: https://github.com/proxmoxer/docs/edit/main/docs/

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js
  - assets/js/custom.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/github-dark-dimmed.min.css
  - assets/css/links.css

extra:
  version:
    provider: mike
    # default: latest

theme:
  name: material
  # custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: slate
      primary: deep orange
      accent: lime
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: octicons/sun-16
        name: Switch to light mode
    - scheme: default
      primary: amber
      accent: lime
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: octicons/moon-16
        name: Switch to dark mode

  features:
    # - navigation.instant # act as a single page application using XHR loading
    - navigation.indexes # allow index.md for section header
    - navigation.top # add a "Back to Top" button
    - navigation.expand
    - search.suggest

plugins:
  - git-revision-date-localized:
      type: date
  - search:
      indexing: full
  - minify:
      minify_html: true
      htmlmin_opts:
        remove_comments: true
  - autolinks
  - mike:
      version_selector: true

markdown_extensions:
  # default Python Markdown extensions
  # https://python-markdown.github.io/extensions/
  # mkDocs uses meta, toc, tables, and fenced_code extensions by default
  - toc:
      permalink: true
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes

  # external extensions
  - mdx_truly_sane_lists
  # https://facelessuser.github.io/pymdown-extensions/extensions/arithmatex/
  - pymdownx.details
  - pymdownx.saneheaders
  - pymdownx.superfences # allow code fences within other blocks
  - pymdownx.snippets:
      base_path: ["includes/", "."]
  - pymdownx.highlight:
      use_pygments: false # allow highlight.js to be used
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Welcome to Proxmoxer: index.md
  - Setup: setup.md
  - Basic Usage: basic_usage.md
  - Development: development.md
  - Examples:
      - Tasks: examples/tasks.md
      - Sending Files: examples/files.md
