# installs compatible versions mkDocs and other deps
mkdocs-material

# mkDocs Plugins
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-exclude
mkdocs-autolinks-plugin
mdx_truly_sane_lists

# Python Markdown extensions
pymdown-extensions

# Other tools
# use dev version of 2.0 for .yaml support of mkdocs.yaml
mike
